/* common */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #F5DEB3;
    display:flex;
    justify-content: center;
    color:#4A4A4A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .red{
    color:red !important;
  }

  h1{
    width:100vw;
    text-align: center;
    margin-bottom: 1.5em;
  }

/* favorite results div css */

#favorite-results{
    width:85%;
    position:absolute;
    top:33%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*meal card css*/

  .meal-card{
    width:300px;
    margin: 0.5em;
    border:2px solid #ccc;
    padding:0.5em;
    background-color: #FFA07A;
  }
  
  .meal-card img{
    width:100%;
  }
  
  .meal-card:hover{
    box-shadow: 0 0 0.3em;
    width:305px;
    cursor: pointer;
  }
  
  .meal-card #meal-name{
    display: flex;
    justify-content: space-between;
  }
  
  .meal-card button{
    border: none;
    background-color: transparent;
    margin-right:0.3em;
    color: rgb(156, 154, 154);
  }
  
  .meal-card button:hover{
    color:red;
    font-size: 1rem;
  }
  
  .meal-card button[style*="color: red"]:hover{
    color:grey;
  }
  
  
  .mealPage-link{
    all:unset;
  }