/*common styles*/
*{
    margin:0;
    padding: 0;
    font-family: Lato;
    box-sizing: border-box;
}

body{
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    background-color: #F5DEB3;
}

/*meal container styles*/

#meal-container a{
    text-align: center;
    text-decoration: none;
}



#meal-container{
    width:90%;
    max-width:1000px;
    margin: 0 auto;

}

#meal-container a h1{
    color:#E53935;
    margin:1.5em;
    font-size: 1.9rem;
}

#meal-container a h1:focus,#meal-container a h1:hover{
    color:grey;
    font-size:2rem;
}

/*head-section styles*/

#head-section{
    display:flex;
    justify-content: space-between;
    margin-bottom:2em;
}

#meal-img{
    width:40%;
}

#meal-img img{
    width:100%;
    border-radius: 5px;
}

#meal-details #meal-info{
    margin-bottom: 1em;
    font-size:1.4rem;
    line-height: 1.2;
}

#meal-info p:first-child{
    font-size: 1.6rem;
    font-weight: bolder;
    margin-bottom: 0.5em;
    color:#E53935;
}

#meal-info p{
    color:#8f8e8e;
}

#meal-ingredients h3{
    font-size: 1.4rem;
    font-weight: bold;
    color:#E53935;
    margin-bottom: 0.3em;
}

#meal-ingredients li{
    padding-left:1em;
    font-size:1.2rem;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

/*main section styles*/

#meal-youtube iframe{
    width:100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#meal-instructions h3{
    font-size: 1.4rem;
    margin-bottom: 1em;
    color:#E53935;
}

#meal-instructions p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 5em;
}

/*media queries*/

@media (max-width:600px){
    #head-section{
        display: block;
    }
    #meal-img{
        width:85%;
        margin:0 auto;
    }
}